body {
    font-family: 'Roboto', sans-serif;
}

.black-text {
    color: #313131 !important;
}

.faint-gray-text {
    color: #f5f5f5 !important;
}

.gray-text {
    color: #b9b9b9 !important;
}

.bg-black {
    color: #313131 !important;
}

.bg-faint-gray {
    color: #f5f5f5 !important;
}

.bg-gray {
    color: #b9b9b9 !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-40 {
    font-size: 40px;
}